body {
  margin: 0;
  background-color: 878986;
}

h1 {
    text-align: center;
    font-size:4em;
}

#start{
  background-color: white;
    display: block;
    border: 1px solid #0066ff;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 20px;
    text-align: center;
    font-family: Verdana;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #0066ff;
}

div {
  margin-top:80px;
  margin-left:35%;
  padding: 10px;
  border: 3px solid #2196F3;
  background-color: white;
  height: 130px;
  position: fixed;
  left: 20;
  right: 20;
  z-index: 1;
  position: center

}
span {
  display: inline-block;
  border: 3px solid black;
  height: 120px;
  width: 120px;
}

#resultatglobal {
  border: 3px solid black;
  height: 30px;
  width: 400px;
  margin-left: 35%;

}
