body {
  margin: 0;
}

section{
  background-color: #8B668B;
  width: 800px;
  height:380px;
  border: 10px solid black;
  margin-left: 20%;

}

h1 {
      text-align: center;
      font-size: 4em;
      margin-bottom: 20px;
      margin-top:10px;
}

#start{
  background-color: gold;
  display: block;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 20px;
  text-align: center;
  font-family: Verdana;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

#start:hover{
  color: red;
}

div {
  border: 3px solid black;
  height: 130px;
  width: 390px;
  margin: auto;
  background-color: red;
}
.cels {
  margin-top: 12px;
  margin-left: 15px;
  display: inline-block;
  padding: auto;
  border: 3px solid black;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

ul{
  padding-inline-start: 0px;
  height: 100px;
  width: 100px;
  margin : auto;
  padding: auto;
}

li {
  border: 1px solid black;
  height: 98px;
  width: 98px;
  display: block;
  margin: auto;
  padding: auto;
}

li:first-child {
  background-image: url("imgslot/seven.jpg");
  background-size: cover;
}

li:nth-child(2) {
  background-image: url("imgslot/banana.jpg");
  background-size: cover;
}

li:nth-child(3) {
  background-image: url("imgslot/dollar.jpg");
  background-size: contain;
}

li:nth-child(4) {
  background-image: url("imgslot/cherry.jpg");
  background-size: cover;
}

li:nth-child(5) {
  background-image: url("imgslot/bar.jpg");
  background-size: cover;
}

li:nth-child(6) {
  background-image: url("imgslot/watermelon.jpg");
  background-size: cover;
}

li:nth-child(7) {
  background-image: url("imgslot/grapes.jpg");
  background-size: cover;
}

li:nth-child(8) {
  background-image: url("imgslot/stranberry.jpg");
  background-size: cover;
}

li:nth-child(9) {
  background-image: url("imgslot/lemon.png");
  background-size: cover;
}

li:nth-child(10) {
  background-image: url("imgslot/bell.jpg");
  background-size: cover;
}

#resultatglobal {
  border: 3px solid black;
  height: 30px;
  width: 460px;
  margin-left: 20%;
  text-align: center
}
