body {
  margin: 0;
}

section{
  width: 800px;
  height:380px;
  border: 3px solid #2196F3;
  margin-left: 20%;

}

h1 {
      text-align: center;
      font-size: 4em;
      margin-bottom: 20px;
      margin-top:10px;
}

#start{
  background-color: white;
  display: block;
  border: 1px solid #0066ff;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 20px;
  text-align: center;
  font-family: Verdana;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #0066ff;
}

div {
  padding: 10px;
  border: 3px solid #2196F3;
  background-color: white;
  height: 130px;
  width: 390px;
  margin: auto;
}
divs {
  display: inline-block;
  margin:auto;
  border: 3px solid black;
  height: 120px;
  width: 120px;
}

li {
  border: 3px solid black;
  height: 60px;
  width: 115px;
  display: block;
  margin:0px;
}
ul{
      padding-inline-start: 0px;
      margin:0px;
}


#resultatglobal {
  border: 3px solid black;
  height: 30px;
  width: 460px;
  margin-left: 20%;
  text-align: center;

}
